ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="1B1C", ATTR{idProduct}=="1B13", TEST=="power/control", ATTR{power/control}="on"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="1532", ATTR{idProduct}=="0024", TEST=="power/control", ATTR{power/control}="on"
